<footer class="footer">
    <nav class="footer__nav">
      <ul class="footer__nav-list">
        <li class="footer__nav-item"><a class="footer__nav-link" href="https://github.com/jmarcolan" target="_blank"><i class="fab fa-github" alt="github-logo"></i></a></li>
        <li class="footer__nav-item"><a class="footer__nav-link" href="https://discord.gg/cd6j7f" target="_blank"><i class="fab fa-discord" alt="discord-logo"></i></a></li>
        <li class="footer__nav-item"><a class="footer__nav-link" href="https://www.twitch.com/jmarcolan" target="_blank"><i class="fab fa-twitch " alt="twitch-logo"></i></a></li>
        <li class="footer__nav-item"><a class="footer__nav-link" href="https://www.facebook.com/jmarcolan" target="_blank"><i class="fab fa-facebook-square" alt="facebook-logo"></i></a></li>
        <li class="footer__nav-item"><a class="footer__nav-link" href="#" target="_blank"><i class="fas fa-envelope" alt="twitch-logo"></i></a></li>
      </ul>
    </nav>
  </footer>

